@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@import "tailwindcss";

body {
  font-family: "Permanent Marker", sans-serif;
  background: #F5F1ED;
  color: black;
  
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  
}


/* body{
    margin:0;
    font-family: 'Inter', sans-serif;
    background:#000;
    color:white;
}

h1,h2,h3{
    font-family:'Playfair Display', serif;
}

button,nav{
    font-family:'Poppins', sans-serif;
} */